{% block form %}
<div class="db-panel db-wrapper db-third">
  <form id="location_form" class="db-wrapper db-fill db-column db-border" method="post">
    <div class="db-form-section">
      <label for="loc_name">
        Name
        <input type="text" class="db-input db-border" id="loc_name" name="location_name" required></input>
      </label>
    </div>
    <div class="db-wrapper db-form-section">
      <button type="submit" class="db-button db-border" formaction="{{ path('new_location') }}">Create</button>
      <button type="submit" class="db-button db-border" formaction="{{ path('list_locations') }}">Search</button>
    </div>
  </form>
</div>
{% endblock %}