<html>
  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>Inventory - Add New Item</title>
  </head>

  <body>
    <div class="w3-bar">
      <a class="w3-button" href="https://localhost:8000/items">Items</a>
      <a class="w3-button" href="https://localhost:8000/new/item">New Item</a>
      <a class="w3-button" href="https://localhost:8000/locations">Locations</a>
      <a class="w3-button" href="https://localhost:8000/new/location">New Location</a>
    </div>
    <div class="w3-panel">
      <div class="w3-panel">
        <h3>Add New Item</h3>
        <p>{{ date }}</p>
      </div>
    </div>
    <div class="w3-panel">
      <b>{{ form(form) }}</b>
    </div>
  </body>


</html>