<html>
  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>Inventory - Add New Item</title>
  </head>

  <body>
    {{ include('navbar.html.twig') }}
    <div class="w3-panel">
      <div class="w3-panel">
        <h3>Add New Item</h3>
        <p>{{ date }}</p>
      </div>
    </div>
    <div class="w3-panel">
      <b>{{ form(form) }}</b>
    </div>
  </body>


</html>