{% extends 'base.html.twig' %}
{% block title %}New Item{% endblock %}
{% block content %}
<div class="db-panel db-wrapper db-third">
  <form action="{{ path('new_item') }}" class="db-wrapper db-fill db-column db-border" id="item_form" method="post">
    <div class="db-form-section">
      <label for="item_name">Name</label>
      <input type="text" class="db-input db-border" id="item_name" name="item_name" required> 
    </div>
    <div class="db-form-section">
      <label for="item_desc">Description (Optional)</label>
      <textarea class="db-input db-border" id="item_desc" name="item_desc"></textarea>
    </div>
    <div class="db-form-section">
      <label for="item_exp_date">Expiration date (Optional)</label>
      <input type="date" class="db-input db-border db-auto" id="item_exp_date" name="item_exp_date">
      <i style="font-size:12px">Use oldest item's expiration date</i>
    </div>
    <div class="db-form-section">
      <label for="item_location">Location</label>
      <select class="db-input db-select db-border" id="item_location" name="item_location" required>
        <option value="" disabled selected hidden>Choose...</option>
        {% for location in locations %}
          <option value="{{ location.id }}">{{ location.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="db-form-section">
      <label for="item_quantity_change">Quantity Change</label>
      <input type="integer" class="db-input db-border" id="item_quantity_change" name="item_quantity_change">
      <i style="font-size:12px">Prepend an '-' or '+' to number</i>
    </div>
    <div class="db-form-section db-wrapper db-center">
      <button type="submit" class="db-button db-border db-auto">Create Entry</button>
    </div>
  </form>
</div>

<script>

  var params = {{ params|json_encode()|raw }};
  window.onload = (event) => {
    if (params.submitted)
    { item_form.elements['item_name'].focus(); }
  }
</script>

{% endblock %}